@model string

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_SiteMasterPageLayout.cshtml";
}

<div class="page-title-offset"></div>
<div class="page-title">
    Sorry, an error occurred while processing your request.
</div>
<hr class="page-title-separator" />

<div class="page-content-offset"></div>
<div class="page-text-block">
    @Model
</div>



