@{
    ViewBag.Title = "Formatting";
    Layout = "~/Views/Shared/_SiteMasterPageLayout.cshtml";
}
<div class="page-title-offset"></div>
<div class="page-title">
    Formatting
</div>
<hr class="page-title-separator" />


<div class="page-content-offset"></div>
<div class="page-content">
    <table id="JQGrid1"></table>
    <div id="JQGrid1_pager"></div>
</div>


<script>
    var dataArray = {
        "id": 1,
        "jsonrpc": "2.0",
        "total": 13,
        "result": [
            {
                FirstName: "Nancy", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/nancy.bmp"
            },
            {
                FirstName: "Andrew", Title: "Vice President, Sales", Active: "true",
                PhotoPath: "http://accweb/emmployees/andrew.bmp"
            },
            {
                FirstName: "Janet", Title: "Sales Representative", Active: "false",
                PhotoPath: "http://accweb/emmployees/janet.bmp"
            },
            {
                FirstName: "Margaret", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/margaret.bmp"
            },
            {
                FirstName: "Steven", Title: "Sales Manager", Active: "true",
                PhotoPath: "http://accweb/emmployees/steven.bmp"
            },
            {
                FirstName: "Michael", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/fuller.bmp"
            },
            {
                FirstName: "Robert", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/leverling.bmp"
            },
            {
                FirstName: "Laura", Title: "Inside Sales Coordinator", Active: "true",
                PhotoPath: "http://accweb/emmployees/peacock.bmp"
            },
            {
                FirstName: "Anne", Title: "Sales Representative", Active: "false",
                PhotoPath: "http://accweb/emmployees/buchanan.bmp"
            },
            {
                FirstName: "Tom", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/tom.bmp"
            },
            {
                FirstName: "Gerald", Title: "Sales Representative", Active: "true",
                PhotoPath: "http://accweb/emmployees/gerald.bmp"
            },
            {
                FirstName: "Sharon", Title: "Office Manager", Active: "true",
                PhotoPath: "http://accweb/emmployees/sharon.bmp"
            },
            {
                FirstName: "Gregory", Title: "Network Engineer", Active: "true",
                PhotoPath: "http://accweb/emmployees/gregory.bmp"
            }
        ]
    };

    $("#JQGrid1").jqGrid({
        datatype: "local",
        data: dataArray.result,  
        colModel: [
            { name: "FirstName", label: "Name"},
            { name: "Title", label: "Title" },
            { name: "Active", label: "Active", formatter: "checkbox", width: "40px" },
            { name: "PhotoPath", label: "Photo", formatter: "link", width: "200px" }
        ],
        height: "auto",
        caption: "Employees",
        rowNum: 5,
        pager: "#JQGrid1_pager"
    });
</script>


<div style="clear: both"></div>
<div class="page-content-offset"></div>
<div class="page-text-block">
    <p>
        So far in our demos, all of the data have been simple strings. In a real-world application, it may 
        be preferable to display the values of various fields as checkboxes, hyperlinks, formatted dates, and
        so forth. jqGrid provides a variety of formatters that enable you to display data in a variety of forms.
        Below, we have added two new fields to the Json array, an "Active" field containing Boolean values, and
        a "PhotoPath" field containing text that is intended to be displayed as clickable hyperlinks:  
    </p>
    <img class="bordered-outline" src="~/Images/Formatting.png" />
    <p>
        In the colModel, we have added a "checkbox" formatter to the "Active" field, and a "link" formatter
        to the "PhotoPath" field. These simple additions provide the jqGrid columns with the desired appearance and
        behavior.
    </p>
    <p>
        A complete listing of the jqGrid formatters is available at
        <a href="http://www.trirand.com/jqgridwiki/doku.php?id=wiki:predefined_formatter">
            http://www.trirand.com/jqgridwiki/doku.php?id=wiki:predefined_formatter</a>
    </p>
    <p>
        <br />
    </p>
</div>